.Banner {
    width: 100%;
    height: auto;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
    padding: 0 10px;
}

.Banner div:first-child {
    width: 100%;
    margin-bottom: 30px;
}

.Banner h2 {
    margin: 0;
    font-size: 4rem;
    padding: 10px;
}

.Banner p {
    font-size: 1.2rem;
}

.Images {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 599px) {
    .Banner h2 {
        font-size: 2.5rem;
    }

    .Images {
        flex-direction: column;
        align-items: center;
    }
}