.Basket {
    display: flex;
    width: 60%;
    position: relative;
    left: 20%;
    justify-content: flex-start;
    margin: 10px 0 30px;
    align-content: center;
    flex-direction: column;
}

.Header {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header h2 {
    font-size: 3rem;
    color: rgba(148,187,233,1);
}

.Header a {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(197, 77, 77);
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.Header a:hover {
    background-color: rgb(231, 102, 102);
}

.Items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Order {
    width: 100%;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.Order div p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.Order div {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
}

.Order div span {
    color: rgb(197, 77, 77);
    font-size: 1.7rem;
    font-weight: bold;
}

.Order button {
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(197, 77, 77);
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer; 
}

.Order button:hover {
    background-color: rgb(231, 102, 102);
}

.Contact {
    width: 100%;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

@media screen and (max-width: 599px) {
    .Basket {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .Header {
        flex-direction: column;
    }

    .Header > * {
        margin-top: 10px;
    }

    .Order button {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
    .Basket {
        width: 90%;
        left: 5%;
        padding: 0 10px;
    }

    .Order button {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .Basket {
        width: 70%;
        left: 15%;
        padding: 0 10px;
    }

    .Order button {
        width: 35%;
    }
}

@media screen and (min-width: 900px) {
    .Basket {
        width: 60%;
        left: 20%;
    }
    
    .Order button {
        width: 30%;
    }
}